<%= render "blogs/feature_blogs" %>


<%= link_to 'Create a New Blog', new_blog_path if logged_in?(:site_admin) %>
<main role="main" class="container">

  <div class="row">
    <div class="col-md-8 blog-main">
      <%= paginate @blogs %>
      <%= render @blogs %>
      <%= paginate @blogs %>

    </div><!-- /.blog-main -->
    <%= render "sidebar" %>

  </div><!-- /.row -->

</main><!-- /.container -->
