<!DOCTYPE html>
<html>
  <head><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<%= render 'shared/portfolio_nav_bar' %>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Jared's Virtual Resume</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <%= link_to "More about Jared", about_path, class: 'btn btn-primary' %>
        </p>
      </div>
    </section>


    <%= yield %>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <%= copyright_generator %>
        </p>
      </div>
    </footer>

    <%= source_helper("portfolio") %>


  </body>
</html>
